[mysqld]
basedir = /home/michael/Desktop/projects/online_store/.local/mysql-8.0.45-linux-glibc2.28-x86_64
datadir = /home/michael/Desktop/projects/online_store/.mysql/data
socket = /home/michael/Desktop/projects/online_store/.mysql/run/mysqld.sock
port = 3309
bind-address = 127.0.0.1
pid-file = /home/michael/Desktop/projects/online_store/.mysql/run/mysqld.pid
log-error = /home/michael/Desktop/projects/online_store/.mysql/logs/error.log
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-log-bin

[client]
socket = /home/michael/Desktop/projects/online_store/.mysql/run/mysqld.sock
port = 3309
default-character-set = utf8mb4
